{% extends "ajaxformbase.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function() {
            $("#id_nombre").addClass("validate[required]");
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formwidth %}form-l{% endblock %}
{% block formaction %}/adm_configuracioncomplexivo{% endblock %}
{% block formdestination %}/adm_configuracioncomplexivo?action=adm_tiporeactivo{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='add_tiporeactivo'/>
{% endblock %}
{% block formback %}/adm_configuracioncomplexivo?action=adm_tiporeactivo{% endblock %}
{% block buttonname %}Guardar{% endblock %}