<script type="text/javascript">
    $(function() {

        envioformulario = function(){
            $('.datepicker').css({"display": "none"});
            bloqueointerface();
            var formdata = new FormData($("#formulario")[0]);
            $.ajax({
                type: "POST",
                url: "{% block formaction %}/{% endblock %}",
                data: formdata,
                success: function(data) {
                    if (data.result == 'ok') {
                         {% block formdestination_java %}location.href = "{% block formdestination %}/{% endblock %}";{% endblock %}
                    } else {
                        $.unblockUI();
                        abrirnotificacionmodal(data.mensaje);
                    }
                },
                error: function() {
                    $.unblockUI();
                    abrirnotificacionmodal('Error de conexión.');
                },
                dataType: "json",
                cache: false,
                contentType: false,
                processData: false
            });
        };

        $("#eliminacionmodal_formbutton").click(function(){
            $('#ajaxshowdinamicbs').modal('hide');
            envioformulario();
        });

        $("#eliminacionmodal_cancel").click(function(){
            $('#ajaxshowdinamicbs').modal('hide');
        });
    });
</script>
{% block extrascript %}

{% endblock %}
{% block canvas %}
    <div id="ajaxshowdinamicbs"></div>
    <div class="modal-header"><h4>{% block titulo %}{% endblock %}</h4></div>
    <div class="modal-body" style="min-height: 60px">
        <table class="table table-bordered table-hover">
                <thead>
                <tr><th colspan="10" style="text-align: center">{{title}}</th> </tr>
                <tr>
                    <th style="width: 20%">Nombre</th>
                    <th style="width: 60%">Detalle</th>
                    <th style="width: 10%; text-align: center;">Docente</th>
                    <th style="width: 10%; text-align: center;">Estudiante</th>
                </tr>
                </thead>
                <tbody>
                {% for p in atributoreactivo %}
                    <tr>
                        <td>
                            {{ p.nombre }}</td>
                        <td>
                            {{ p.detalle }}
                        </td>
                        <td style="text-align: center;">
                            {% if p.profvisible %}
                                <i class="fa fa-check"></i>
                            {% else %}
                                <i class="fa fa-close" style="color: red;"></i>
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            {% if p.estuvisible %}
                                <i class="fa fa-check"></i>
                            {% else %}
                                <i class="fa fa-close" style="color: red;"></i>
                            {% endif %}
                        </td>
                        {% empty %}
                        <td style="text-align: center" colspan="12">NO EXISTEN REGISTROS</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
    </div>
    <div class="modal-footer">
        <p style="text-align: right; margin-bottom: 0">
            <a href="javascript:;" id="eliminacionmodal_cancel" class="btn btn-info"> Cerrar</a>
        </p>
    </div>
{% endblock %}