{% extends 'ajaxformbase.html' %}
{% block extraheading %}
    <script type="text/javascript">
    $(function () {
        $('#vali').change(function () {
            if($(this).attr('checked')=="checked"){
                $('#estado').val('true');
            }else{
                $('#estado').val('false');
            }
        }) ;
    });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formwidth %}form-lg{% endblock %}
{% block formaction %}/adm_configuracioncomplexivo{% endblock %}
{% block formdestination %}/adm_configuracioncomplexivo?action=adm_impugnacion{% endblock %}
{% block formadicional %}
{% for i in reactivos %}
    <div class="row-fluid">
        <div class="well">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td style="width: 5%"><b>N°: </b>{{ forloop.counter }}</td>
                        <td style="width: 20%"> <b>Materia/área: </b>{{ i.nombre }}</td>
                        <td style="width: 20%"> <b>Tipo de pregunta: </b>{{ i.tipopregunta }}</td>
                    </tr>
                    {% for o in i.atributos %}
                        <tr>
                            <td colspan="1"><b>{{ o.atributo__nombre }}: </b></td>
                            <td colspan="12">{{ o.texto }} {% if o.archivo %}<img src="/media/{{ o.archivo }}">{% endif %}</td>
                        </tr>
                    {% endfor %}
                    {% if i.tipo == "EMPAREJAMIENTO"%}
                        <tr>
                            <td><b>OPCIONES: </b></td>
                            <td id="div1" colspan="12">
                                {% for o in i.extra %}
                                    {% if o.vali is False %}
                                        <span  class="badge badge-info valimov" id="lb_{{ o.id }}" idtr="{{ o.id }}" style="font-size: 14px" >{{ o.texto }}</span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% else %}
                        <tr><td colspan="15"><b>OPCIONES:</b></td></tr>
                    {% endif %}
                    {% for o in i.opciones %}
                        {% if i.tipo != "EMPAREJAMIENTO" %}
                        <tr>
                            <td style=""> <label for="ch_{{ o.id }}" class="labeltable">{{ forloop.counter }}. {% if o.vali %}<i class="fa fa-check"></i>{% endif %}</label></td>
                            <td colspan="12">{{ o.texto }} {% if o.archivo %}<img src="/media/{{ o.archivo }}">{% endif %}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td><b>{{ forloop.counter }}.</b></td>
                            <td colspan="6">{{ o.texto }} {% if o.archivo %}<img src="/media/{{ o.archivo }}">{% endif %}</td>
                            <td colspan="6" style="width: 50%">
                                <div style="width: 100%; border: 1px black;height: 35px;" class="padrediv" id="div2_{{ o.id }}" idtr="{{ o.id }}">
                                    {% if o.vali %}
                                        <span  class="badge badge-info valimov" id="lb_{{ o.id2 }}" idtr="{{ o.id2 }}" style="font-size: 14px" >{{ o.texto2 }}</span>
                                    {% endif %}
                                </div></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}
    <div class="row-fluid" style="text-align: right">
        <label for="vali">Estado de impugnación <input type="checkbox" id="vali" {% if impugnacion.estado %}checked{% endif %}></label>

    </div>
{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='edit_impugnacion'/>
    <input type='hidden' name='id' value='{{impugnacion.id}}'/>
    <input type="hidden" id="estado" name="estado" value="{% if impugnacion.estado %}true{% else %}false{% endif %}">
{% endblock %}
{% block formback %}/adm_configuracioncomplexivo?action=adm_impugnacion{% endblock %}
{% block buttonname %}Guardar{% endblock %}