{% extends "ajaxformbase.html" %}
{% block extraheading %}
    <script type="text/javascript">
        $(function() {
            $("#id_nombre").addClass("validate[required]");
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formwidth %}form-l{% endblock %}
{% block formaction %}/adm_configuracioncomplexivo{% endblock %}
{% block formdestination %}/adm_configuracioncomplexivo?action=adm_areareactivo{% endblock %}
{% block formextra %}
    {% if area %}
        <input type='hidden' name='action' value='edit_areareactivo'/>
        <input type='hidden' name='id' value='{{ area.id }}'/>
    {% else %}
        <input type='hidden' name='action' value='add_areareactivo'/>
    {% endif %}
{% endblock %}
{% block formback %}/adm_configuracioncomplexivo?action=adm_areareactivo{% endblock %}
{% block buttonname %}Guardar{% endblock %}