{% extends 'base.html' %}
{% block contenidopanel %}
    <div class="row-fluid">
    {% if view == 1 %}

    {% else %}
        <a class="btn btn-mini btn-info pull-right" href="/adm_configuracioncomplexivo?action=view_bateriacomplexivo&tipo={{tipo}}&id={{bateriacarrera.id}}"> Volver</a>
    {% endif %}
        <h5>{{ cronograma }}</h5>
        <h5>{{ title }}</h5>
    </div>
    <div class="row-fluid">
    {% if view == 1 %}
        <table class="table table-bordered">
        <thead>
            <th>Materia/Área</th>
            <th></th>
        </thead>
        <tbody>
        {% for i in reactivos %}
            <tr>
                <td>{{ i.nombre }}</td>
                <td style="text-align: center"><a class="btn btn-mini btn-warning" href="/adm_configuracioncomplexivo?action=view_bateriacomplexivodetalle&tipo={{tipo}}&id={{bateriacarrera.id}}&idtipo={{ i.id }}"><i class="fa fa-eye"></i> Ver</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        {% for i in reactivos %}
             <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <label><b>Materia/Área: </b>{{ i.nombre }}</label>
                        <label><b>Tipo: </b>{{ i.tipopregunta }}</label>
                    </td>
                </tr>
                <tr><td><b>Opciones:</b>{% if i.tipopregunta == "EMPAREJAMIENTO" %}{% for o in i.extra %}{{ o.texto }}{% if forloop.counter != i.extra|length %} - {% endif %}{% endfor %}{% endif %}</td></tr>
                {% for o in i.opciones %}
                    <tr><td><label><b>{{ forloop.counter }}. </b>{{ o.texto }} {% if o.archivo %}<img src="/media/{{ o.archivo }}">{% endif %}</label></td></tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}