{% extends 'base.html' %}
{% block contenidopanel %}
    <div class="row-fluid">
        <div class="span12">
            <h3>{{ title }}</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h5>CRONOGRAMA: {{ asignacion.grupocarrera.grupofacultad.grupocronograma.nombre }}</h5>
            <h5>CARRERA: {{ asignacion.grupocarrera.carrera }}</h5>
            <h5>PERIODO: {{ asignacion.periodo }}</h5>
            <h5>COORDINADOR: {{ asignacion.coordinador.persona }}</h5>
        </div>
    </div>
    <div class="row-fluid">
        {% if bateriaexamen %}
            <a class="btn btn-mini btn-warning pull-right" target="_blank" href="/cord_configuracioncomplexivo?action=report_bateriaexamen&id={{ bateriaexamen.id }}"><i class="fa fa-download"></i> Descargar resumen</a>
        {% endif %}

        <h5>RESUMEN</h5>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-bordered">
               <thead>
                <th>Materia</th>
                <th style="text-align: center">Cantidad</th>
                <th style="text-align: center"></th>
               </thead>
                <tbody id="tbody">
                {% for i in reactivos %}
                    <tr>
                        <td>
                            {{ i.asignatura }}
                        </td>
                        <td style="text-align: center">
                            {{ i.reactivos }}
                        </td>
                        <td style="text-align: center;">
                            <a class="btn btn-mini btn-info" href="/cord_configuracioncomplexivo?action=adm_detallebateriaexamen&id={{ bateriaexamen.id }}&idasig={{ i.id }}"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-mini btn-warning" target="_blank" href="/cord_configuracioncomplexivo?action=report_bateriaexamen&id={{ bateriaexamen.id }}&idasig={{ i.id }}"><i class="fa fa-download"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <thead>
                    <tr><td colspan="5"><b>Total: </b>{{tamanio}}</td></tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}