{% extends "base.html" %}
{% block contenidopanel %}
    <div class="row-fluid">
        <a class="btn btn-info pull-right" href="/est_configuracioncomplexivo?action=adm_simulexamencomplexivo">Salir</a>
        <h5>{{ title }}</h5>
    </div>
    <div class="row-fluid">
        <h5>Resumen</h5>
    </div>
    <div class="row-fluid">
        <table class="table table-bordered">
            <thead>
                <th>Estudiante</th>
                <th>Bateria</th>
                <th style="text-align: center;">Cantidad</th>
                <th style="text-align: center;">Info</th>
            </thead>
            <tbody>
            {% for simulacion in simulaciones %}
                <tr>
                    <td>{{ simulacion.matricula.inscripcion.persona }}</td>
                    <td>BATERIA DE {{ simulacion.bateriacarrera.carrera.carrera }} EN {{ simulacion.bateriacarrera.bateria.periodo }}</td>
                    <td style="text-align: center;">{{ simulacion.cantidad }}</td>
                    <td style="text-align: center;">
                        <a class="btn btn-mini btn-warning" href="/est_configuracioncomplexivo?action=adm_detallesimulacion&id={{ simulacion.id }}"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}